PORT=8080 
REACT_APP_API_DOMAIN=http://localhost:3000 

# Note the below must match the PORT above and also the first
# value stored in the Client table under the "frontend" row
# in the cors column
REACT_APP_CLIENT_DOMAIN=http://localhost:8080