= `Mirlo: A new ${interval === 'MONTH' ? 'monthly' : 'yearly'} supporter at ${artistUserSubscription.currency.toUpperCase()} ${(artistUserSubscription.amount / 100).toFixed(2)} - ${artistUserSubscription.artistSubscriptionTier.name} tier`
