| Yay!
|
| Someone (#{email}) bought your entire digital catalogue.
|
| #{currencyPaid.toUpperCase()} 
| #{pricePaid.toFixed(2)} 
| (Mirlo's share: #{platformCut.toFixed(2)})
| 
| The final money will be available via your Stripe dashboard
| Enjoy!