extends ../layout.pug

block content
    p Hi!
    p You (or someone with access to your Mirlo account) requested to reset the Stripe payment account linked to your Mirlo account.
    p To continue, enter the following code in the browser:
    p
      strong #{code}
    p This code will expire in 15 minutes.
    p If you didn't request this, you can safely ignore this email — your Stripe account won't be touched without the code.
