| Hi!
|
| You asked to reset your email address.
|
| #{user.email}
|
| Click this link to confirm: #{host}/register/emailConfirmation/#{user.emailConfirmationToken}?email=#{user.email}
| 
| If this was not you, please get in touch with our worker members as soon as possible dev@resonate.coop