extends ../layout.pug

block content
  p Yay!
  p Because you support #{artist.name} with a regular contribution, you've received their newest release #{trackGroup.title}!

  table
    thead
      tr
        th Title
    tbody
      tr
        td #{trackGroup.title}

  p The release is now available in your collection for unlimited listening and downloading.
  p Enjoy!
