| Wow!
|
| Because you support #{artist.name} with a monthly contribution, you've received their newest release #{trackGroup.title}!
| 
| The album is now available in your collection for unlimited listening and downloading.
| Enjoy!