extends ../layout.pug
include ../mixins.pug

block content
  div.mw600
    p 
      | Hello #{trackGroup.artist.user.name}!
    p 
      | Someone (#{email}) bought a digital copy of 
      strong #{trackGroup.title}.
  div.mw600
    p 
      | Album: 
      strong #{trackGroup.title}
    p 
      +currency(purchase.transaction.amount, purchase.transaction.currency, purchase.transaction.platformCut, purchase.transaction.paymentProcessorCut) 

  p The final money will be available via your Stripe dashboard
  p If you have any questions please reach out to hi@mirlo.space

