extends ../layout.pug

block content
  table
    thead
      tr
        th Id
        th Filesize
        th Email
    tbody
      tr
        td #{filename}
        td #{filesize}
        td #{email}
