| Yay!
|
| Someone (#{email}) supported you with a one-time tip.
|
| #{tip.currencyPaid} #{pricePaid} 
| Mirlo percentage: #{platformCut}
| 
| The final money will be available via your Stripe dashboard
| Enjoy!