extends ../layout.pug

block content
    p Hi!
    p Someone is using this e-mail address to verify their identity on Mirlo.
    p To continue, enter the following code in the browser: 
    p 
      strong #{code}
    p If this was not you, you can safely ignore this email.
