extends ../layout.pug

block content
    p Hi!
    p Someone is using this e-mail address to purchase something on Mirlo.
    p To continue, enter the following code on the checkout page: 
    p 
      strong #{code}
    p If this was not you, you can safely ignore this email.
