| Wow!
|
| From all the folks at and using Mirlo, thank you! 
| Your support means a lot to us.
| You're supporting the following artists: 
|
each val in userSubscriptions
| #{val.artistSubscriptionTier.artist.name}: #{val.amount}
| 
| The album is now available in your collection for unlimited listening and downloading.
| Enjoy!