| Hi!
| Someone signed up to blackbird using this email address
|
| #{user.email}
|
| Click this link to confirm: #{host}/register/emailConfirmation/#{user.emailConfirmationToken}?email=#{user.email}
| 
| If this was not you, you can ignore this email.