html {
  --mi-black: #111;
  --mi-white: #ffffff;
  --mi-off-white: #f5f0f0;
  --mi-pink: #be3455;

  --mi-normal-background-color: var(
    --mi-instance-background-color,
    var(--mi-white)
  );
  --mi-lighten-background-color: rgba(255, 255, 255, 0.35);
  --mi-lighten-x-background-color: rgba(255, 255, 255, 0.5);
  --mi-darken-background-color: rgba(50, 0, 0, 0.03);
  --mi-darken-x-background-color: rgba(50, 0, 0, 0.2);
  --mi-darken-xx-background-color: rgba(50, 0, 0, 0.2);

  --mi-normal-foreground-color: var(
    --mi-instance-foreground-color,
    var(--mi-black)
  );
  --mi-light-foreground-color: #454545; /* FIXME: remove */
  --mi-lighter-foreground-color: #515151; /* FIXME: remove */

  --mi-primary-color: var(--mi-instance-primary-color, #be3455);
  --mi-secondary-color: var(--mi-instance-secondary-color, #ffffff);

  --mi-info-background-color: #5c899c;
  --mi-success-background-color: #5b9762;

  --mi-warning-color: #f2897a;
  --mi-warning-background-color: var(--mi-warning-color);
}

/*
 * data-mi-theme is currently equivalent to `(prefers-color-scheme: dark)` due to
 * the header script in client/index.html
 * - this could be extended to provide a dark/light mode toggle in the future
 */
[data-mi-theme="dark"] {
  --mi-normal-background-color: var(
    --mi-instance-background-color,
    var(--mi-white)
  );
  --mi-darken-background-color: rgba(0, 0, 0, 0.03);
  --mi-lighten-background-color: rgba(255, 255, 255, 0.2);

  --mi-normal-foreground-color: var(
    --mi-instance-foreground-color,
    var(--mi-black)
  );
  --mi-light-foreground-color: #a0a0a0;
  --mi-lighter-foreground-color: #9e9e9e;

  --mi-primary-color: #ffc0cb;
  --mi-secondary-color: #be3455;
}
