name: Tests

on:
  push:
    branches:
      - main
      - features/**
      - dependabot/**
  pull_request:
    branches:
      - main

jobs:
  client-unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run tests
        run: yarn client:test

  api-unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Build docker image
        run: docker compose --profile test build test

      - name: Run tests
        run: docker compose run test

      - name: Print logs
        if: always()
        run: |
          echo "::group::Log output: blackbird-api-test"
          docker compose logs api-test
          echo "::endgroup::"

      - name: Stop containers
        if: always()
        run: docker compose --profile=test down

  cypress-run:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Install dependencies
        run: yarn install --immutable
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests

      - name: Run E2E tests
        uses: cypress-io/github-action@v6
        with:
          working-directory: client
          start: yarn client:start -- --host 0.0.0.0 --port 8080
          wait-on: "http://127.0.0.1:8080"
          wait-on-timeout: 120
          browser: electron
          config-file: cypress.config.ts
          command: yarn client:cy:run
