name: Lint primarily with prettier
on: 
  push:
    branches:
      - main
  pull_request:

jobs:

  Prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2

      - name: Install our packages
        run: yarn install

      - name: Run Prettier --check
        run:  yarn prettier --check "src/**/*.{js,jsx,ts,tsx}"

      - name: Typescript
        run: yarn tsc --noEmit
