name: Tests

on:
  push:
    branches:
      - main
      - features/**
      - dependabot/**
  pull_request:
    branches:
      - main

jobs:
  client-unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run tests
        run: yarn client:test

  api-unit:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Build docker image
        run: docker compose --profile test build test

      - name: Run tests
        run: docker compose run test

      - name: Print logs
        if: always()
        run: |
          echo "::group::Log output: blackbird-api-test"
          docker compose logs api-test
          echo "::endgroup::"

      - name: Stop containers
        if: always()
        run: docker compose --profile=test down

  cypress-run:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "postgresql://nomads:nomads@localhost:5434/nomads?schema=public"
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable Corepack
        run: corepack enable

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: "yarn"

      - name: Copy env file
        run: |
          cp .env.example .env

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build client
        run: yarn client:build

        # Cypress needs access to the __generated__ folder in prisma
        # so we build prisma here as well
      - name: Build Prisma
        run: yarn prisma:build

      - name: Build docker image
        run: docker compose up -d

      - name: Wait for services to be ready
        run: |
          # Wait for API to be ready
          sleep 10
          until curl -s http://localhost:3000/health; do
            echo "Waiting for API to be ready..."
            sleep 5
          done

      - name: print out what's in prisma folder
        run: ls -la prisma/

      - name: Run E2E tests
        uses: cypress-io/github-action@v6
        env:
          PORT: 8080
          CI: "1"
        with:
          wait-on: "http://localhost:3000"
          wait-on-timeout: 120
          browser: electron
          config-file: client/cypress.config.ts
          command: yarn client:cy:run

      - name: Stop containers
        if: always()
        run: docker compose down
